%div
  %hr
  %div{:class => "comments"}
    = render commentable.comments
  %div
  = form_for [commentable, commentable.comments.build], remote: true do |f|
    %div{:class => "form-group"}
      = f.cktext_area :body, class: 'ckeditor', id: 'ckeditor'
      = f.submit '댓글 쓰기', class: 'btn btn-default'
